SECRET_KEY=cambia-esta-clave-por-una-muy-larga
MAPS_URL=https://maps.app.goo.gl/W8E5RV7LpcQbHDa2A
DIRECCION_NEGOCIO=Barby Rose Nail Spa, Armenia, Quindio, Cr 15 4N # 55 (Barrio Nueva Cecilia)
# Railway la crea automaticamente:
# DATABASE_URL=postgresql://...
